{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-12">
        <h1>Venom</h1>
    </div>
    <div class="col-12">
        <img src="assets/img/venom.jpg" class="img-thumbnail" width="200" height="300">
    </div>
</div>

{{> footer }}